$app-bg-color: #18191a;
$content-bg-color: #3e4042;

$text-default-color: #e4e6eb;
$text-secondary-color: #b0b3b8;

$text-default-size: 1rem;
$text-small-size: 0.7rem;
$text-large-size: 1.3rem;

$text-bold: 600;
