$app-bg-color: #18191a;
$content-bg-color: #242526;
$comment-bg-color: #3a3b3c;
$focused-bg-color: rgba(24, 119, 242, 0.31);

$text-default-color: #e4e6eb;
$text-secondary-color: #b0b3b8;
$text-accent-color: #2078f4;
$text-dark-color: #363636;

$text-default-size: 1rem;
$text-medium-size: 0.8rem;
$text-small-size: 0.7rem;
$text-large-size: 1.3rem;

$text-bold: 600;
