@import '../../../styles/variables.scss';

.comment__wrap {
  .comment__wrap {
    padding-left: 42px;

    .comment__content {
      .comment__profile {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.comment {
  display: flex;
  flex-flow: column nowrap;

  .comment__content {
    display: flex;
    flex-flow: row nowrap;

    .comment__profile {
      width: 32px;
      height: 32px;

      margin-top: 2px;
    }
  }
}

.comment__text {
  position: relative;

  margin-left: 6px;
  padding: 8px 12px;

  background-color: $comment-bg-color;

  border-radius: 18px;

  h4 {
    margin-top: 2px;
    font-size: $text-medium-size;
    font-weight: $text-bold;
  }

  p {
    margin: 2px 0 -2px;

    line-height: 1.3rem;
    word-break: break-word;
  }

  &.comment__text--like {
    margin-right: 13px;

    &::after {
      position: absolute;
      bottom: 5px;
      right: -13px;
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: no-repeat center / 18px 18px
        url(../../../assets/images/like.png) $comment-bg-color;
    }
  }

  &.comment__text--focused {
    background-color: $focused-bg-color;
  }
}

.comment__delete {
  position: relative;

  align-self: center;

  width: 32px;
  height: 32px;

  margin-left: 2px;

  button {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    &:hover {
      background: no-repeat center / 20px 20px
        url(../../../assets/images/more.png) $comment-bg-color;

      cursor: pointer;

      + .comment__guide {
        display: block;

        top: -20px;
        left: 50%;

        width: 45px;

        transform: translateX(-50%);
      }
    }

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }

  .comment__menu {
    position: absolute;
    left: 50%;

    display: none;

    width: 330px;

    padding: 8px;

    background-color: $content-bg-color;

    border-radius: 8px;

    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 15;
    transform: translateX(-30%);

    &.comment__menu--show {
      display: block;
    }

    &::after {
      position: absolute;
      top: -16px;
      left: 30%;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 8px solid transparent;
      border-bottom: 8px solid $content-bg-color;
      border-right: 8px solid transparent;
      transform: translateX(-50%);
    }

    li {
      padding: 12px 8px;

      border-radius: 8px;

      cursor: pointer;

      &:hover {
        background-color: $comment-bg-color;
      }
    }
  }
}

.comment__bottoms {
  display: flex;
  flex-flow: row nowrap;

  margin-left: 42px;
  padding: 3px 0;

  button,
  .comment__time {
    margin: 0 6px;

    font-size: $text-small-size;
    font-weight: $text-bold;
    color: $text-secondary-color;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.comment__button--active {
      color: $text-accent-color;
    }
  }

  .comment__time {
    position: relative;

    padding-top: 2px;

    &:hover {
      .comment__guide {
        display: block;

        top: calc(100% + 3px);
        left: 50%;

        width: 150px;

        transform: translateX(-50%);
      }
    }
  }
}

.comment__guide {
  position: absolute;

  display: none;

  padding: 8px 0;

  background-color: rgba(255, 255, 255, 0.7);

  border-radius: 8px;

  color: $text-dark-color;
  font-size: $text-medium-size;
  text-align: center;

  z-index: 20;
}
